CompileFlags:
  Add:
    [
      -Wno-documentation,
      -Wno-missing-prototypes,
      -std=c++17,
      --include-directory=/opt/homebrew/include,
      --include-directory=/opt/homebrew/include/QtGui,
      --include-directory=/opt/homebrew/include/QtCore,
      --include-directory=/opt/homebrew/include/QtWidgets,
    ]

Diagnostics:
  ClangTidy:
    Add:
      [
        performance-*,
        bugprone-*,
        modernize-*,
        clang-analyzer-*,
        readability-identifier*,
      ]
    CheckOptions:
      readability-identifier-naming.VariableCase: camelCase

  Suppress: [-Wdeprecated-declarations]
