<?xml version="1.0" encoding="UTF-8"?>
<QFlockConfig>
    <FontColor>#ffffffff</FontColor>
    <BackgroundColor>#96000000</BackgroundColor>
    <FontSize>24</FontSize>
    <AlwaysOnTop>true</AlwaysOnTop>
    <WindowPosition>1132,708</WindowPosition>
    <WindowSize>137,59</WindowSize>
</QFlockConfig>
