<?xml version="1.0" encoding="UTF-8"?>
<ClouckConfig>
    <FontColor>#ffffffff</FontColor>
    <BackgroundColor>#96000000</BackgroundColor>
    <FontSize>24</FontSize>
    <AlwaysOnTop>true</AlwaysOnTop>
    <WindowPosition>1236,784</WindowPosition>
    <WindowSize>137,59</WindowSize>
</ClouckConfig>
